* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
background-color: aliceblue;
display: grid;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
}

/* .tabs{
    
} */

#logo-wrapper{
    position: absolute;
}
.brand-logo {
    font-family: 'Edu NSW ACT Foundation', cursive;
}

/* #nav-mobile{

} */

.nav-tabs {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 20px;
    color: teal;
}
#input{
    width: 100px;
}

.nav-books{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    align-items: center;
}

h2 {
    color: teal;
    font-size: 20px;
}

#output{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 1;
}

#subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 100px;
    font-family:'Edu NSW ACT Foundation', cursive;
    margin-bottom: 15%;
     }


  .statement {
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
      padding-left: 15%;
      padding-right: 15%;
      margin-top: 5%;
    
  }

  .quote {
    font-family:'Edu NSW ACT Foundation', cursive; 
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .contact-list {
      margin: 10%;
  }

  .quote-text {
      font-size: 35px;
  }

  .contact-text{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
